<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <pre>
    <table>
        <tbody>
            <thead>
                <tr>
                    <th>Vehicle Type</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>License</th>
                    <th>Year</th>
                    <th>Km</th>
                </tr>
            </thead>
            {{#each vehicles}}
            <tr>
                <td>{{vehicleType}}</td>
                <td>{{brand}}</td>
                <td>{{model}}</td>
                <td>{{license}}</td>
                <td>{{yearOfManufacture}}</td>
                <td>{{km}}</td>
				<td><a href='maintenance?id={{_id}}'>Show more</a></td>
            </tr>
            {{/each}}
            </pre>
</body>

</html>